.welcome {
  border-width:2px;
  border-style:solid;
  border-color:black;
  text-align: right;
  border-width:2px;
  border-style:solid;
  border-color:black;
}

.welcome-container {
  border-width:2px;
  border-style:solid;
  border-color:black;
  text-align: right;
  border-width:2px;
  border-style:solid;
  border-color:black;
}


body {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  font: 0.9em/1.2 Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  background-image: url('ronnyS.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

